.d3-gauge .outer-circle {
  fill: #3946A5;
  stroke       :  #000;
  stroke-width :  0.5px;
}

.d3-gauge .inner-circle {
  fill: rgba(5, 9, 29, 0.83);
  stroke: #060216;
  stroke-width :  2px;
}

.d3-gauge .label {
  fill: yellowgreen;
  font-size :  12px;
}

.d3-gauge .major-tick {
  stroke       :  #333;
  stroke-width :  1.5px;
}

.d3-gauge .minor-tick {
  stroke       :  #666;
  stroke-width :  1px;
}

.d3-gauge .major-tick-label {
  fill         :  darkblue;
  stroke-width :  2px;
  font-size    :  10px;
}

.d3-gauge .needle {
  fill         :  #dc3912;
  stroke       :  #c63310;
  fill-opacity :  0.7;
}

.d3-gauge .needle-container {
  fill         :  #4684EE;
  stroke       :  #666;
  fill-opacity :  1;
}

.d3-gauge .needle-container > circle {
  fill :  #dc3912;
  stroke       :  #c63310;
}

.d3-gauge .current-value {
  fill: #A5A3AF;
  stroke-width :  0px;
}

.d3-gauge .green-zone {
  fill :  #FF9900
}

.d3-gauge .yellow-zone {
  fill :  #FF9900
}

.d3-gauge .red-zone {
  fill :  #DC3912
}
